<h1>Import</h1>

<%= form_for :ingredients, url: [:import, :ingredients], data: { turbo: false } do |f| %>
  <%= f.file_field :file, accept: 'text/csv' %>
  <pre>
Produktgruppe,Zutat,HUF,Kistentyp
Obst,Äpfel,[j,n],[Grundkiste,Frischekiste,Standard]
  </pre>
  <%= f.submit 'Zutaten importieren', class: 'btn btn-danger' %>
<% end %>

<hr/>
<%= form_for :articles, url: [:import, :articles], data: { turbo: false } do |f| %>
  <%= f.file_field :file, accept: 'text/csv' %>
  <pre>
Nr,Zutat,Artikelname,Lieferant,Mengeneinheit,Gebindegröße,Preis,Priorität,Packart,Kühlbedarf,maximale Bestellmenge,Notizfeld
1,Brötchen,Kaisersemmel,Bäcker,Stück,1,"0,8",0,[schütt,stück],[j,n],42,lecker
  </pre>
  <%= f.submit 'Artikel importieren', class: 'btn btn-danger' %>
<% end %>
