<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :ingredient, collection: Ingredient.order(:name) %>
    <%= f.association :supplier, collection: Supplier.order(:name) %>
    <%= f.input :nr %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.input :unit %>
    <%= f.input :notes %>
    <%= f.input :stock %>
    <%= f.input :order_limit %>
    <%= f.input :priority %>
    <%= f.input :needs_cooling %>
    <%= f.input :packing_type, collection: Article.packing_types.keys.map { |key| [I18n.t("activerecord.enums.article.packing_type.#{key}"), key] }, include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
