<table id="articles-table" class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <% unless defined?(ingredient) %><th>Warengruppe</th><th>Zutat</th><% end %>
      <% unless defined?(supplier) %><th>Lieferant</th><% end %>
      <% if defined?(ingredient) %><th>Prio</th><% end %>
      <th>Nr.</th>
      <th class="text-end">Lager</th>
      <th class="text-end">Überschuss</th>
      <% if defined?(show_price) %>
      <th class="text-end">Preis</th>
      <th class="text-end">Grundpreis</th>
      <% end %>
      <th class="text-end">max. Bestellmenge</th>
      <% if defined?(@order_counts) %><th>Bestellungen</th><% end %>
      <th>Notizen</th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td><%= link_to article %></td>
        <% unless defined?(ingredient) %>
          <td><%= article.ingredient.commodity_group %></td>
          <td><%= link_to article.ingredient, article.ingredient %></td>
        <% end %>
        <% unless defined?(supplier) %>
          <td><%= link_to article.supplier, article.supplier %></td>
        <% end %>
        <% if defined?(ingredient) %><td><%= article.priority %></td><% end %>
        <td><%= article.nr %></td>
        <td class="text-end"><%= number_with_delimiter article.stock %></td>
        <td class="text-end"><%= article.surplus %></td>
        <% if defined?(show_price) %>
        <td class="text-end"><%= number_with_delimiter article.price %> €</td>
        <td class="text-end"><%= number_with_precision(article.base_price, precision: 2) %> €/(kg/l/Stk)</td>
        <% end %>
        <td class="text-end"><%= number_with_delimiter article.order_limit %></td>
        <% if defined?(@order_counts) %><td><%= @order_counts.fetch(article.id, 0) %></td><% end %>
        <td><%= article.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
