<div class="btn-group float-right" role="group">
  <%= link_to 'Neue Zutat anlegen', new_ingredient_path, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'fehlende Alternativen', with_missing_alternatives_ingredients_path, class: 'btn btn-sm btn-warning' %>
</div>

<h1>Zutaten</h1>

<table id="ingredients-table" class="table table-sm">
  <thead>
    <tr>
      <th>Warengruppe</th>
      <th>Name</th>
      <% if feature(:estimation) %>
      <th class="text-right">geschätzter Bedarf</th>
      <% end %>
      <th class="text-right">tatsächlicher Bedarf</th>
      <th class="text-right">Artikel</th>
      <th class="text-right">Fehlmenge</th>
      <th>Kiste</th>
      <th>HUF</th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <% estimation = estimated_need_total(ingredient) if feature(:estimation) %>
      <tr>
        <td><%= ingredient.commodity_group %></td>
        <td><%= link_to ingredient.name, ingredient %></td>
        <% if feature(:estimation) %>
        <td class="text-right">
          <% estimation.each do |need| %>
            <%= humanize_unit(need[:quantity], need[:unit]) %>
          <% end %>
        </td>
        <% end %>
        <td class="text-right">
          <%= @unit_sums.fetch(ingredient.id, []).map(&:humanize).join(', ') %>
        </td>
        <td class="text-right"><%= ingredient.articles.count %></td>
        <td class="text-right"><%= @missing_sums.fetch(ingredient.id, []).map(&:humanize).join(', ') %></td>
        <td><%= I18n.t "activerecord.enums.ingredient.box_type.#{ingredient.box_type}" %></td>
        <td><%= ingredient.uses_hunger_factor? ? 'j' : 'n' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
