<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :supplier, collection: Supplier.order(:name) %>
    <%= f.input :coverage_begin, as: :datetime, html5: true %>
    <%= f.input :coverage_end, as: :datetime, html5: true %>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
