<%= turbo_frame_tag 'upcoming_boxes', target: '_top' do %>
  <% if @boxes.any? %>
    <div class="card">
      <%= link_to upcoming_boxes_dashboard_path, class: "card-header" do %>
        nächste Kisten
      <% end %>
      <div class="list-group list-group-flush">
        <% @boxes.each do |box| %>
          <%= tag.div class: "list-group-item" do %>
            <%= link_to I18n.l(box.datetime, format: :really_short), box %>
            <% if box.needs_order? %>
            <span class="badge badge-danger">Bestellbedarf</span>
            <% end %>
            <% if box.awaiting_delivery? %>
            <span class="badge badge-warning">offene Lieferung</span>
            <% end %>
            <% if box.picked? %>
              <% box.packing_lane_boxes.each do |packing_lane_box| %>
                <%= link_to packing_lane_box.packing_lane,
                            packing_lane_box,
                            class: "badge badge-#{packing_lane_box_status_color(packing_lane_box)}" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <%= link_to 'Kisten', boxes_path, class: 'card-link btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
