<div class="btn-group float-end" role="group">
  <%= link_to 'Löschen', @diet, data: { turbo_method: :delete, turbo_confirm: 'Bist du sicher?' }, class: 'btn btn-sm btn-danger' %>
  <%= link_to 'Bearbeiten', edit_diet_path(@diet), class: 'btn btn-sm btn-primary' %>
</div>
<h1><%= @diet.name %> <small><%= @diet.category %></small></h1>

<% if feature(:lama) %>
<dl>
  <dt>Lama uuid</dt>
  <dd><%= @diet.lama_uuid %></dd>
</dl>
<% end %>

<h2>problematische Zutaten</h2>
<ul>
  <% @diet.ingredients.order(:name).each do |ingredient| %>
    <li><%= link_to ingredient %></li>
  <% end %>
</ul>

<h2>Rezepte mit "+"</h2>
<ul>
  <% @diet.positive_recipes.order(:name).each do |recipe| %>
    <li><%= link_to recipe %></li>
  <% end %>
</ul>

<h2>Rezepte mit "-"</h2>
<ul>
  <% @diet.negative_recipes.order(:name).each do |recipe| %>
    <li><%= link_to recipe %></li>
  <% end %>
</ul>
