<div class="btn-group float-right" role="group">
  <%= link_to 'Löschen', @supplier, data: { turbo_method: :delete, turbo_confirm: 'Bist du sicher?' }, class: 'btn btn-danger' %>
  <%= link_to 'Bearbeiten', edit_supplier_path(@supplier), class: 'btn btn-primary' %>
  <%= link_to 'Zurück', suppliers_path, class: 'btn btn-light' %>
</div>

<h1>
  <%= @supplier.name %>
</h1>

<dl>
  <dt>maximale Lieferfrist</dt>
  <dd><%= @supplier.delivery_time %> h</dd>
  <dt>Adresse</dt>
  <dd><%= simple_format @supplier.address %></dd>
</dl>

<p>
  <strong>Notizen</strong>
  <%= @supplier.notes %>
</p>

<%= link_to 'Neuen Artikel anlegen', new_article_path(supplier_id: @supplier), class: 'btn btn-sm btn-primary float-right' %>
<%= render 'articles/table', articles: @supplier.articles, supplier: true %>

<%= render 'orders/table', orders: @supplier.orders %>
